.Container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.Footer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
.FooterText {
  font-size: 10px;
  text-align: center;
}
.Box {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 40px 50px;
  padding: 40px 50px;
  border-radius: 20px;
  background-color: #fff;
}
.Box .FormHeading {
  margin-bottom: 20px;
}
.Box .FormHeading h4 {
  font-size: 18px;
  font-weight: 900;
  font-family: var(--fg-headingsFont);
  color: #425364;
}
.Box .Row {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 40px;
  column-gap: 40px;
  align-items: stretch;
}
.Box .Input {
  min-height: 40px;
  max-width: 40%;
  font-weight: 900;
}
.Box .Info {
  font-size: 12px;
  color: var(--fg-login-button-bg1);
}
.Box .Button {
  justify-content: center;
  min-width: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  border-radius: 2px;
  padding: 7px 16px;
  background: var(--fg-login-bg);
  color: #fff;
  text-transform: uppercase;
}
