.DynBiz_SearchPopup_overlay {
  background-color: rgba(9, 30, 66, 0.28);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0px;

  &:active {
    box-shadow: none !important;
    transform: none !important;
  }
}

.DynBiz_SearchPopup {
  background: #fff;
  z-index: 9999999999;
  position: fixed;
  margin: auto;
  width: -webkit-max-content;
  width: max-content;
  box-shadow: 0 12px 32px rgba(0, 27, 71, 0.12);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  max-width: 100vw;
  height: 75vh;
  min-width: 560px;
  max-width: 800px;
  display: grid;
  grid-template-rows: 100%;
  transform: scale(1);
  opacity: 1;
  animation: zoomIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: auto;
}

.DynBiz_SearchPopup_ContentBox {
  display: grid;
  grid-template-rows: max-content auto;
  overflow: auto;
}

.DynBiz_SearchPopup_Header {
  border-bottom: 2px solid #dfe1e6;
  height: 66px;
  padding-right: 26px;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;

  button {
    display: flex;
    height: max-content;
    font-size: 20px;
    color: #f64e60;
    cursor: pointer;

    &:hover {
      color: #8198b4 !important;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.DynBiz_SearchPopup_SearchBox {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  padding: 16px 0px 16px 26px;
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #34495e;

  &::placeholder {
    font-size: 22px !important;
    color: #636a77 !important;
  }
}

.DynBiz_SearchPopup_ListBox {
  display: grid;
  overflow: auto;
  grid-auto-rows: max-content;

  &::-webkit-scrollbar-track {
    background: #ebedef;
    border-left: 1px solid #f1f1f1 !important;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--Main-scrollbar-color);
    border-radius: 1px;
    width: 6px;
    border: 1px solid #fff;

    &:hover {
      background-color: #808b96;
    }
  }
}

.DynBiz_SearchPopup_List {
  display: grid;
  cursor: pointer;
  padding: 8px 24px;
  color: #292d34;
  background: #fff;
  border: 0px;
  border-bottom: 1px solid #f1f1f1;
  grid-template-rows: max-content;
  row-gap: 4px;

  p {
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &:hover {
    background: #f3f6f9;
  }
}

.DynBiz_SearchPopup_ActiveList {
  background: #8198b4 !important;
  color: #fff !important;

  .DynBiz_SearchPopup_ModulePathBox span {
    color: #fff !important;
  }
}

.DynBiz_SearchPopup_ModulePathBox {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;

  span {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #7c828d;

    &::before {
      content: ">";
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0.6px;
    }

    &:first-child:before {
      content: "" !important;
      padding: 0px !important;
    }

    &:last-child {
      display: none !important;
    }
  }
}

@media (max-width: 600px) {
  .DynBiz_SearchPopup {
    min-width: 0vw !important;
    max-width: 100vw !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0px !important;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
