.PageStart {
  display: grid;
  grid-template-rows: max-content auto;
  overflow: auto;
}
.PasswordPolicyDiv {
  left: 60%;
  width: 39%;
  box-sizing: border-box;
  padding: 8px;
  top: 52%;
  background: #ffffff;
  margin-bottom: 2px;
  border-radius: 3px;
  position: absolute;
  z-index: 999999999;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  border: 2px solid #ffffff;
  box-shadow: rgb(10, 140, 155) 5px 5px 10px;
}

.PasswordPolicyOtherDiv {
  left: 60%;
  width: 39%;
  box-sizing: border-box;
  padding: 8px;
  top: 58%;
  background: #ffffff;
  margin-bottom: 2px;
  border-radius: 3px;
  position: absolute;
  z-index: 999999999;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  border: 2px solid #ffffff;
  box-shadow: rgb(10, 140, 155) 5px 5px 10px;
}

.PasswordPolicyOldDiv {
  left: 60%;
  width: 39%;
  box-sizing: border-box;
  padding: 8px;
  top: 45%;
  background: #ffffff;
  margin-bottom: 2px;
  border-radius: 3px;
  position: absolute;
  z-index: 999999999;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  border: 2px solid #ffffff;
  box-shadow: rgb(10, 140, 155) 5px 5px 10px;
}
